# folders to ignore
build/
dist/
doc/_build/

# files to ignore
MANIFEST

# file patterns to ignore
*.pyc
*.pyo
*.orig
.DS_Store
*.so
/deap.egg-info/PKG-INFO
/deap.egg-info/SOURCES.txt
/deap.egg-info/dependency_links.txt
/deap.egg-info/top_level.txt
